@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scrollbar-width: thin;
  scrollbar-color: #7e22ce #d8b4fe;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #7e22ce;
  border-radius: 999px;
}
::-webkit-scrollbar-thumb:hover {
  background: #9333ea;
  border-radius: 999px;
}

.bg-my {
  background-color: #fcfcfc;
}

.bg-my-op {
  background: rgba(252, 252, 252, 0.75);
}

.bg-pc {
  background-color: #f1daff;
}

.bg-pc:hover {
  background-color: #f1daff;
}

.grecover {
  background-image: url("../public/assets/GreCover.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.covar {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.h-setengah {
  height: 75vh;
}

@media (min-width: 992px) {
  #cta-img-nml-50 {
    margin-left: 50px;
  }
}
